
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:wght@400;700&display=swap');

/* light tan f0e4c4 */
body {
  font-family: 'Open Sans', sans-serif;
  color: #4e4637; 
  line-height: 1.6;
  margin: 0;
  background: linear-gradient(to bottom right, #dcefd8, #a3b18a); 
}

body::before {
  content: "";
  background-image: url('Photos/xv.png');
  opacity: 0.08; /* texture effect */
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  background-repeat: repeat;
}

h1, h2, h3, h4 {
  font-family: 'EB Garamond', serif;
  color: #6c584c; 
  border-bottom: 2px solid #6c584c;
}

.navbar {
  background-color: #a3b18a; 
  border-bottom: 2px solid #6c584c; 
}

.navbar a {
  color: #6c584c !important; 
  font-weight: bold;
}

.navbar a:hover {
  color: #6c584c !important; 
}

.sidebar nav {
  background-color: #f0e4c4; 
}

a {
  color: #6b705c; 
}

a:hover {
  color: #3e4c3a; 
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(107, 112, 92, 0.2);
  max-width: 100%;
  height: auto;
}


/*
.caption {
  text-align: center;
  font-style: italic;
  font-size: 0.95em;
  color: #003300;
}


pre, code {
  background-color: #f1f8e9;
  border-left: 4px solid #81c784;
  padding: 0.5em;
  font-family: monospace;
  overflow-x: auto;
}

footer {
  background-color: #a5d6a7;
  padding: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: #2e7d32;
}
*/


