
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans:wght@400;700&display=swap');

/* light tan f0e4c4 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #4e4637; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #dcefd8, #a3b18a); 
  background-attachment: fixed;
}

main {
  flex: 1; /* makes main content grow to fill space */
}

body::before {
  content: "";
  background-image: url('Photos/xv.png');
  opacity: 0.8;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
}

h1, h2, h3, h4 {
  font-family: 'EB Garamond', serif;
  color: #6c584c; 
  border-bottom: 2px solid #6c584c;
}

.navbar {
  background-image: url('Photos/xv.png');
  background-color: #a3b18a; 
  border-bottom: 2px solid #6c584c; 
}

.navbar a {
  color: #6c584c !important; 
  font-weight: bold;
}

.navbar a:hover {
  color: #6c584c !important; 
}

.sidebar nav {
  background-color: #f0e4c4; 
}

a {
  color: #6b705c; 
}

a:hover {
  color: #3e4c3a; 
}

img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(107, 112, 92, 0.2);
  max-width: 100%;
  height: auto;
}


footer {
  background-image: url('Photos/xv.png');
  background-color: #a3b18a;
  color: #4e4637;             
  text-align: right;
  padding: 15px 10px;
  font-size: 0.5em;
  width: 100%;
}


